.container{
	width: 100%;
	margin: 0 auto;
	.btn{
		width: 50%;
		float: left;
    a{
  		width: 300px;
  		height: 90px;
  		line-height: 90px;
  		margin: 10px auto;
  		background: #ff9a34;
  		font-size: 28px;
  		text-decoration: none;
  		text-align: center;
  		color: #fff;
  		display: block;
  		border-radius: 3px;
  		opacity: 0.8;
  		filter: alpha(opacity=80);
		}
  	a:hover{
  		opacity: 0.5;
			filter: alpha(opacity=100);
		}
	}

	.btnResult {
		width: 100%;
		a{
		width: 380px;
		height: 90px;
		line-height: 90px;
		margin: 0 auto;
		background: #ff9a34;
		font-size: 28px;
		text-decoration: none;
		text-align: center;
		color: #fff;
		display: block;
		border-radius: 3px;
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
}

    /* question */
	#question_area{
		width: 80%;
		margin: 200px auto 0 auto;
		padding: 40px;
		border: solid 4px #E0D8C6;
		background: #fff;
		text-align: center;
		box-sizing: border-box;
		transition: 1s;
	}

  #q_no{
    width: 200px;
    height: 200px;
		margin: -140px auto 0 auto;
		background: url('../images/question.png');
		background-size: 200px 200px;
    padding-top: 65px;
    color: #FFF;
    display: block;
    text-align: center;
    box-sizing: border-box;
    font-size: 80px;
    font-weight: bold;
	}

  #question{
    margin: 40px 0;
    font-size: 26px;
    font-weight: bold;
	}

  #q_btn{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
		padding-top: 50px;
	}

	.left_b a{
		background: green;
	}

	.right_b a{
		background: #34b4f8;
	}

	.middle a{
		background: red;
	}

	#meter_area{
	  width: 600px;
	  margin: 30px auto;
	  text-align: center;
		clear: left;
		font-size: 30px;
	}
}

 #data_area {
   display: none;
 }
 #total_no{
  display: none;
}

 #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7;
      z-index: 100;
    }

    .cnt223 a {
      text-decoration: none;
    }

    .popup {
      width: 100%;
      margin: 0 auto;
      display: none;
      position: fixed;
      z-index: 101;
    }

    .cnt223 {
      min-width: 600px;
      width: 600px;
      min-height: 150px;
      margin: 100px auto;
      background: #f3f3f3;
      position: relative;
      z-index: 103;
      padding: 15px 35px;
      border-radius: 5px;
      box-shadow: 0 2px 5px #000;
    }

    .cnt223 p {
      clear: both;
      color: #555555;
      /* text-align: justify; */
      font-size: 20px;
      font-family: sans-serif;
    }

    .cnt223 p a {
      color: #d91900;
      font-weight: bold;
    }

    .cnt223 .x {
      float: right;
      height: 35px;
      left: 22px;
      position: relative;
      top: -25px;
      width: 34px;
    }

    .cnt223 .x:hover {
      cursor: pointer;
    }
